.services_section {
  margin-top: 10rem;
}

.services_container {
  display: grid;
  margin-bottom: 4.5rem;
  gap: 2rem;
}

.services_pinned {
  position: relative;
  display: block;
}

.services_title {
  font-size: 30px;
  font-weight: 600;
  color: #2c73cb;
}

.services_sub {
  font-size: 16px;
  font-weight: 400;
  color: #8f8f8f;
}

.services_details {
  font-size: 20px;
  font-weight: 400;
  color: #8f8f8f;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.services_cardTitle {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-top: 1rem;
}

.services_cardSub {
  font-size: 16px;
  font-weight: 400;
  color: #8f8f8f;
}

.services_learn {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.menu_title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.services_card_text {
  font-size: 16px;
  font-weight: 500;
  color: #565973;
  margin-top: 10px;
}

.services_vector {
  display: flex;
  width: 100%;
  height: 150px;
}

.card_padding {
  padding: 1rem !important;
}

.card_hover {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card_hover:hover {
  transform: translateY(-0.5rem) !important;
}

.services_title_new {
  font-size: 24px !important;
  font-weight: 700 !important;
  margin-bottom: 15px;
  color: rgb(31, 30, 30);
}

.services_text_new {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #8f8f8f;
}

.services_sub_new {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: rgb(31, 30, 30);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.services_ul_new {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #8f8f8f;
}

@media (max-width: 740px) {
  .services_section {
    margin-top: 3rem;
  }
}
